version: '3.9'

services:
  db:
    image: postgres:15-alpine
    container_name: postgres_db
    env_file:
      - .env
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    command: |
      sh -c "python manage.py migrate \
        && python manage.py migrate django_celery_beat \
        && python manage.py migrate django_celery_results \
        && python manage.py runserver 0.0.0.0:8000"
    environment:
      DJANGO_SUPERUSER_PASSWORD: admin
    volumes:
      - .:/app
    ports:
      - "8000:8000"
    depends_on:
      - db
      - redis

  redis:
    image: redis:7
    container_name: redis
    ports:
      - "6380:6379"

  celery:
    build: .
    container_name: celery_worker
    command: celery -A config worker -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web

  celery_beat:
    build: .
    container_name: celery_beat
    command: celery -A config beat -l info
    volumes:
      - .:/app
    depends_on:
      - redis
      - web
      - db

volumes:
  postgres_data: